.sidebar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: #212121ff;
    width: 72px;
    height: 0%;
    z-index: 200;
    padding-top: 1px;
}

.sidebar-link {
    height: 74px;
    border-radius: 17px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    white-space: nowrap;
}

.sidebar-link:hover {
    background-color: #383838;
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 10px;
}
