.header {
    background-color: transparent;
    height: 68px;
    width: 100%;

    position: fixed;
    z-index: 100;

    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.header.scrolled {
    background-color: var(--main-background);
}



/* 왼쪽 버튼들 */

.header__options-left {
    display: flex;
    flex: 1;
    align-items: center;
}

.header__options-left img {
    height: 90px;
    padding-left: 60px;
    padding-right: 30px;
}

.header button {
    background-color: transparent;
    border: transparent;
    color: white;

    padding: 10px;

}

/* 오른쪽 버튼들 */

.header__options-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 30px;
}

.header__options-right button img {
    height: 32px;
}