.container {
    border: 6px solid lightgray;
    display: flex;
    height: 800px;
    /* 주축의 수직축에 따라 정렬하는 align-items */
    align-items: flex-start;
    align-items: baseline;
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: lightblue;
    padding-top: 3rem;
}

.item-2 {
    background-color: lightyellow;
    padding-top: 7rem;
}

.item-3 {
    background-color: lightpink;
    padding-top: 10rem;
}
