.container {
    border: 6px solid lightgray;
    display: flex;
    /* 아이템을 주축 기준으로 정렬하는 justify-content */
    /* space-evenly ... 등 값을 통해 간격, 정렬위치 등 설정 가능 */
    justify-content: flex-start;
    justify-content: space-evenly;
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightyellow;
}

.item-3 {
    background-color: lightpink;
}
