.image {
    width: 400px;
    height: 400px;

    /* 종횡비 유지하며 규격에 맞게 꽉차게 잘린 사진 */
    object-fit: cover;
    /* 종횡비 유지, 규격에 맞게 이미지의 크기가 변화 (줄어듬)*/
    object-fit: contain;
    /* 이미지의 크기가 변화하지 않음(원본 파일 크기) + 규격에 맞게 잘림 */
    object-fit: none;

    /* 이미지를 규격내에서 왼쪽부분을 보이도록 이동 -> 오른쪽부분이 잘리게 됨 */
    object-position: left;
}