:root {
    --main-background: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    height: 100%;
    width: 100%;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}