.main {
    /* wrapper flexbox 정렬순서 */
    order: 2;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media (min-width : 800px) {
    .top-space {
        display: none;
    }
}
/* 피드박스 설정 */

.feed a {
    font-weight: bold;
}

/* 스토리+피드 컨테이너 */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
}

.story-bar {
    height: 100px;
    width: 90%;
    padding: 8px 0px;
    display: flex;
    align-items: center;
}

.stories {
    height: 84%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.story {
    padding-top: 15px;
    padding-left: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story__profile-image {
    height: 50px;
    border-radius: 50px;
}

.story__profile-id {
    padding-top: 4px;
    font-size: 13px;
}


/*  !!!!!!!!! 피드 시작 !!!!!!!!! */

.feeds {
    width: 468px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.feeds .feed__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 32px;
    padding-bottom: 12px;
}

.feed__header a {
    padding-left: 5px;
    padding-right: 5px;
}
.feed__user-picture {
    height: 32px;
    border-radius: 32px;
}

.feed__look-more {
    margin-left: auto;
}


/* 피드 이미지 */

.feed {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
}

.feeds .feed__image {
    width: 100%;
}

/* 피드 푸터 */

.feeds .feed__footer {
    display: flex;
    flex-direction: column;
}

.feed__footer-buttons {
    display: flex;
    flex-direction: row;
}

.feed__footer-buttons .section-1 {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.feed__footer-buttons .section-2 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.feed__writings-look-more,
.feed__comments a {
    font-weight: 300 !important;
}





/* 프로필+친구추천 컨테이너 */

.profile-container {
    width: 375px;
    height: 100vh;
    margin-left: 10px;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
}

.profile-container span {
    font-weight: bold;
    color: rgb(149, 149, 149);
    font-size: 15px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
}

@media (max-width: 1160px) {
    .profile-container{
        display: none;
    }
}



/* 친구추천 */

.friend-recommend {
    display: flex;
    flex-direction: column;
}

/* 유저프로필 포멧 */

.user-profile {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;

    position: relative;
}

.user-profile img {
    width: 44px;
    border-radius: 44px;
    margin-right: 10px;

}

.user-profile div a {
    font-weight: bold;
    color: rgb(47, 47, 47);
}

.user-profile div p {
    color: rgb(118, 118, 118);
    font-size: 13px;
    padding-top: 2px;
}

.user-profile button {
    color: rgb(61, 61, 255);
    position: absolute;

    right: 30px;
}


/* app-info */
.app-info {
    font-weight:normal !important;
    font-size: 12px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 10px !important;
    color: rgb(209, 209, 209) !important;
}