.navigationbar {
    top: 56px;
    left: 80px;
    /* margin-left: 20px; */
    height: 48px;
    width: 100%;
    background-color: var(--main-background);

    display: flex;
    flex-direction: row;

    position: fixed;
    z-index: 101;
    gap: 10px;
    align-items: center;
}

.navigation-menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #272727;
    font-size: 14px;
    font-weight: 50px;
    padding: 7px 10px;
    white-space: nowrap;
}

.navigation-menu:hover {
    background-color: #ffffff;
    color: #272727;
}

.menu1 {
    margin-left: 20px;
}